<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>note</key>
		<string>通常セリフ</string>
		<key>serif</key>
		<array>
            <string>今年は55周年だっぴ！</string>
            <string>ちょっと待つっぴ！！</string>
            <string>はっぴ、お祭り大好きだっぴ！</string>
            <string>元気っぴ？</string>
            <string>あ、見つかっちゃったっぴ…！</string>
            <string>人の金で焼肉が食べたいっぴ！</string>
            <string>パンフレット頑張って作ったから隅々まで読んでほしいっぴ！</string>
            <string>はっぴのマイブームはみんなにプレゼントすることだっぴー！</string>
            <string>はっぴも本気ダンスするっぴ！</string>
            <string>踊れる準備はできてるっぴ？</string>
            <string>千葉大祭、楽しみがマリアナ海溝っぴ〜〜</string>
            <string>千葉大祭は55回目なんだっぴ！</string>
            <string>(*⁰▿⁰*)</string>
            <string>はっぴだっぴぃいいいいいいいいいいい</string>
            <string>どうしてマスコットは「はっぴ」なのにスタッフの制服はジャンパーなんだっぴ？</string>
            <string>ひよこじゃないっぴ</string>
            <string>はっぴとお絵かきするっぴ！</string>
            <string>はっぴにはリンクルくんっていう友達がいるっぴ！</string>
            <string>はっぴだっぴ！</string>
            <string>祭の４日間くらい単位の事なんて忘れるっぴ！</string>
            <string>もう君達はクイズラリー回ったっぴ？なぞなぞは「ハーバード生でも悩ませる」をモットーに作られたっぴ！日本語なんだからそりゃあ悩むだろって野暮な意見は聞こえないっぴ。</string>
            <string>ぴ？</string>
            <string>ピ！</string>
            <string>ぴ！？ど、どこ触ってるっぴ！尻尾はやめるっぴ！</string>
            <string>テント多いっぴ…友達のやってるテントがどれかわからないっぴ。</string>
            <string>はっぴを55回タップすると隠しセリフが！…ないっぴ。</string>
            <string>祭だからって酒を持ち込むのはいけないっぴ！</string>
            <string>はっぴの事をご存じないっぴ？このアプリを見れば4日ではっぴマスターだっぴ！</string>
            <string>「はっぴ」は漢字で「法被」ってかくっぴ。</string>
            <string>バーチーのピーハーとパリピろうっぴ！</string>
            <string>Be my baby!</string>
            <string>やっぴー！</string>
            <string>法被ーバースデー！</string>
            <string>食う寝るところ、住むところ！</string>
            <string>なーに、簡単なことだっぴ！</string>
            <string>はっぴは特訓とかする気は無いっぴ。進化とか再臨とかも存在しないっぴ。素材集めが無い分ストレスフリーなアプリだっぴ</string>
            <string>曜日クエスト…？はっぴには何の事かさっぱりだけど、４日間じゃ日替りクエストも何もできたものじゃないと思うっぴ。</string>
            <string>もしかしたら臨時メンテナンスすることがあるかもしれないっぴ… でもすぐ終わるから安心してこのアプリを使ってほしいっぴ！ ただしお詫びで石を配布するとかは無いっぴ。</string>
            <string>他の大学にもはっぴみたいな大学祭マスコットキャラがいるっぴ！一人一人語っていきたいけど余白が少なすぎて無理だっぴ。気になったら検索するっぴ！</string>
            <string>はっぴの表情が気になるっぴ？確かに眉毛を動かす事は滅多に無いっぴ。これはプールで常にお腹を凹ませてるアレと似たようなものだっぴ。</string>
            <string>はっぴもライブ行きたいっぴ！と思ったらロックとかジャズとか合唱とかアカペラとか色々あるっぴ…迷うっぴ！！</string>
            <string>今年も残り少しだっぴ！今年最後の思い出として千葉大祭をよろしくっぴ！…ぴ？今年最後にはまだ早かったっぴ？</string>
            <string>グランプリ、どこに投票するか決めたっぴ？どの団体もあなたの一票を心から欲しがってるっぴ。この場にいるからにはあなたもただの客じゃなくて参加者！ぜひ票を投じてほしいっぴ！</string>
            <string>南門…？駅に近いあの門が正門だと思ってたっぴ…</string>
            <string>法被(はっぴ)で検索すると、意外にも赤いやつはあまり出てこないっぴ。はっぴが最初に見つけた赤いはっぴには「大売り出し」って書いてたっぴ。ってコレ祭用じゃないっぴ！</string>
            <string>いつから、俺が「はっぴ」だと錯覚していた…？</string>
            <string>かれぴっぴってなんだっぴ？</string>
            <string>はっぴぴぴっく！</string>
            <string>読書の秋、食欲の秋、音楽の秋。色々な秋が千葉大祭にはあるっぴ！…運動の秋？帰ってから腹筋でもするっぴ。</string>
            <string>それがいいと思うっぴ。</string>
            <string>とりあえず肉まんが食べたいっぴ。</string>
            <string>来年も良い年になりそうだっぴ！</string>
            <string>遠くまで旅に出たいっぴ。</string>
            <string>料理が得意になりたいっぴ。</string>
            <string>お友達と縄跳びしたいっぴ。</string>
            <string>キャンプに行きたいっぴ。</string>
            <string>なんだか楽しいことが始まりそうだっぴ。</string>
            <string>将来みんな空を飛べるようになれたら嬉しいっぴ。</string>
            <string>責任とってっぴ…？</string>
            <string>来年もくるっぴよ？</string>
            <string>今年の千葉大祭のテーマは「for you〜いチバんを、あなたに。」だっぴ。みんなをおもてなしするっぴよ！</string>
            <string>はっぴのグッズも作られてるっぴ、ちょっと恥ずかしいっぴ。</string>
            <string>どの企画も楽しそうだっぴ、目移りしちゃうっぴ！</string>
            <string>今年は千葉のマスコットキャラクターもやってくるらしいっぴ、はっぴも負けられないっぴ！</string>
            <string>大学の外のフェンスにはいろんな企画の看板が並ぶっぴ、これも要チェックっぴよ！</string>
            <string>今年はコスプレコンテストを開催するっぴ！はっぴのコスプレはいるっぴ？</string>
            <string>困ったときは赤いジャンパーの人か案内所にGO！だっぴ。</string>
		</array>
	</dict>
	<dict>
		<key>note</key>
		<string>タップ時専用のセリフ</string>
		<key>serif</key>
		<array>
            <string>っぴぃ！？い、意味もなくはっぴをつっつくのはやめるっぴ！</string>
            <string>くすぐったいっぴ！</string>
            <string>はっぴはやわらかいっぴ？</string>
            <string>おいしくはないっぴよ？</string>
		</array>
	</dict>
	<dict>
		<key>note</key>
		<string>起動後最初のセリフ</string>
        <key>serif</key>
        <array>
        </array>
	</dict>
	<dict>
		<key>note</key>
		<string>新歓企画前専用のセリフ</string>
        <key>serif</key>
        <array>
        </array>
	</dict>
	<dict>
		<key>note</key>
		<string>新歓企画後専用のセリフ</string>
        <key>serif</key>
        <array>
        </array>
	</dict>
</array>
</plist>
