<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>56thはっぴ</string>
		<key>note</key>
		<string>今年度もはっぴが千葉大祭を盛り上げていくっぴ！よろしくだっぴ！</string>
		<key>image</key>
		<string>happi1_resize</string>
		<key>rate</key>
		<integer>40</integer>
	</dict>
    <dict>
       <key>name</key>
       <string>はぴレンジャー</string>
       <key>note</key>
       <string>ぼくの名前ははぴレンジャー！世界の平和をまもってるっぴ！きみのことも守るっぴ！まかせてっぴ！</string>
       <key>image</key>
       <string>hapi_ranger</string>
       <key>rate</key>
       <integer>30</integer>
   </dict>
   <dict>
      <key>name</key>
      <string>和柄はっぴ</string>
      <key>note</key>
      <string>今年のテーマに合わせて着替えてみたっぴ。似合ってるっぴ？</string>
      <key>image</key>
      <string>wahuu_happi</string>
      <key>rate</key>
      <integer>30</integer>
  </dict>
    <dict>
        <key>name</key>
        <string>教育学部はっぴ</string>
        <key>note</key>
        <string>第53回千葉大祭のラリー企画で使われたはっぴだっぴ。はっぴも勉強がんばるっぴ。</string>
        <key>image</key>
        <string>gacha_happi_edu</string>
        <key>rate</key>
        <integer>25</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>工学部はっぴ</string>
        <key>note</key>
        <string>第53回千葉大祭のラリー企画で使われたはっぴだっぴ。このはっぴはやわらかくないっぴね。</string>
        <key>image</key>
        <string>gacha_happi_eng</string>
        <key>rate</key>
        <integer>25</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>法政経学部はっぴ</string>
        <key>note</key>
        <string>第53回千葉大祭のラリー企画で使われたはっぴだっぴ。正しい審判をくだすっぴ！</string>
        <key>image</key>
        <string>gacha_happi_law</string>
        <key>rate</key>
        <integer>25</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>文学部はっぴ</string>
        <key>note</key>
        <string>第53回千葉大祭のラリー企画で使われたはっぴだっぴ。メガネをかけたはっぴはレアだっぴ。</string>
        <key>image</key>
        <string>gacha_happi_litera</string>
        <key>rate</key>
        <integer>25</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>理学部はっぴ</string>
        <key>note</key>
        <string>第53回千葉大祭のラリー企画で使われたはっぴだっぴ。この液体は触れてはいけない気がするっぴ。</string>
        <key>image</key>
        <string>gacha_happi_sci</string>
        <key>rate</key>
        <integer>25</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>かぼちゃはっぴ</string>
        <key>note</key>
        <string>第53回千葉大祭がハロウィンと重なったので生まれたはっぴだっぴ。いたずらするっぴ！</string>
        <key>image</key>
        <string>gacha_happi_pumpkin</string>
        <key>rate</key>
        <integer>15</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>サンタはっぴ</string>
        <key>note</key>
        <string>サンタさんだっぴ！プレゼントほしいっぴ！でもこれだとはっぴがあげる側だっぴ…？</string>
        <key>image</key>
        <string>gacha_happi_santa</string>
        <key>rate</key>
        <integer>15</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>剣士はっぴ</string>
        <key>note</key>
        <string>第52回千葉大祭で使われたはっぴだっぴ。どんな相手にも負けないっぴ！</string>
        <key>image</key>
        <string>gacha_happi_knight</string>
        <key>rate</key>
        <integer>15</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>魔法使いはっぴ</string>
        <key>note</key>
        <string>第52回千葉大祭で使われたはっぴだっぴ。はっぴ、空を自由に飛びたいっぴ。</string>
        <key>image</key>
        <string>gacha_happi_magician</string>
        <key>rate</key>
        <integer>15</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>忍者はっぴ</string>
        <key>note</key>
        <string>第52回千葉大祭で使われたはっぴだっぴ。でも忍ぶと宣伝にならないっぴ。</string>
        <key>image</key>
        <string>gacha_happi_ninja</string>
        <key>rate</key>
        <integer>15</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>海賊はっぴ</string>
        <key>note</key>
        <string>第52回千葉大祭で使われたはっぴだっぴ。はっぴ、海賊王を目指すっぴ！</string>
        <key>image</key>
        <string>gacha_happi_pirate</string>
        <key>rate</key>
        <integer>15</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>ガンマンはっぴ</string>
        <key>note</key>
        <string>第52回千葉大祭で使われたはっぴだっぴ。どうやって銃を抜くかはヒミツだっぴ。</string>
        <key>image</key>
        <string>gacha_happi_cowboy</string>
        <key>rate</key>
        <integer>15</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>ドラゴンはっぴ</string>
        <key>note</key>
        <string>第52回千葉大祭で使われたはっぴだっぴ。火とか吐いちゃうっぴ。きぐるみではないっぴ。</string>
        <key>image</key>
        <string>gacha_happi_dragon</string>
        <key>rate</key>
        <integer>15</integer>
    </dict>
    <dict>
        <key>name</key>
        <string>51stはっぴ</string>
        <key>note</key>
        <string>はっぴがマスコットキャラクターになった第51回千葉大祭の時のはっぴだっぴ。今とだいぶ雰囲気が違うっぴね！</string>
        <key>image</key>
        <string>gacha_happi_51th</string>
        <key>rate</key>
        <integer>7</integer>
    </dict>
	<dict>
		<key>name</key>
		<string>ちぃ＆めぃ</string>
		<key>note</key>
		<string>記念すべき第50回の千葉大祭マスコットキャラクターだっぴ。この年までは公募でキャラクターが決まっていたそうだっぴ。</string>
		<key>image</key>
		<string>gacha_happi_chimei</string>
		<key>rate</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>シチョー</string>
		<key>note</key>
		<string>第49回千葉大祭のマスコットキャラクターだっぴ。頭の模様がなんだか気になるっぴ。</string>
		<key>image</key>
		<string>gacha_happi_shicho</string>
		<key>rate</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>チバダイサイ</string>
		<key>note</key>
		<string>第48回千葉大祭のマスコットキャラクターだっぴ。名前がそのままっぴね、けどなんだかかわいいっぴ！</string>
		<key>image</key>
		<string>gacha_happi_sai</string>
		<key>rate</key>
		<integer>7</integer>
	</dict>
</array>
</plist>
